<script id="viewDashboard" type="text/x-handlebars-template">
	<div id="dashboard" class="container">
		<h1>AquaPi<span class="hidden-phone"> - Smart Garden</span></h1>
		<div class="row-fluid">
			{{view 'dashboardTimer'}}
			{{view 'dashboardWater'}}
			{{view 'dashboardLight'}}
			{{view 'dashboardTemp'}}
		</div>
	</div>
</script>

<script id="viewDashboardTimer" type="text/x-handlebars-template">
	<div id="dashboardTimer" class="well well-small span3">
		<p class="lead">
			Next Run: {{#if timer}}{{#if timer.running}}<em>Running</em>{{else}}<span class="time">{{timeuntil timer.start}}</span>{{/if}}{{else}}<em>None</em>{{/if}}
		</p>
		<p class="lead">
			Run Time: {{#if timer}}{{#if timer.running}}<span class="time">{{timeuntil timer.stop}}</span>{{else}}{{timediff timer.start timer.stop}}{{/if}}{{else}}<em>None</em>{{/if}}
		</p>
	</div>
</script>

<script id="viewDashboardWater" type="text/x-handlebars-template">
	<div id="dashboardWater" class="well well-small span4">
		<p class="lead">Water<span class="hidden-phone"> Level</span>: {{level}}% | {{runtime level runrate}} min ({{rundays level runrate timer.start timer.stop}})</p>
		<div class="progress{{#if timer.running}} progress-striped active{{/if}}">
			<div class="bar" style="width: {{level}}%;"></div>
		</div>
	</div>
</script>

<script id="viewDashboardLight" type="text/x-handlebars-template">
	<div id="dashboardLight" class="well well-small span3">
		<p class="lead">Light<span class="hidden-phone"> Level</span>: {{percentage light}}</p>
		<div class="progress">
			<div class="bar bar-warning" style="width: {{percentage light}};"></div>
		</div>
	</div>
</script>

<script id="viewDashboardTemp" type="text/x-handlebars-template">
	<div id="dashboardTemp" class="well well-small span2">
        <p class="lead">Temp: {{temp}}&#x2109;</p>
        <div class="progress">
            <div class="bar{{tempbar temp}}" style="width: {{temp}}%;">{{temp}}&#x2109;</div>
        </div>
	</div>
</script>
