<script id="viewTimers" type="text/x-handlebars-template">
	<div id="timers" class="container">
		<h1 class="hidden-phone">Timers <a role="new" class="btn btn-info pull-right"><i class="icon-plus"></i> New Timer</a></h1>
		{{view timers 'timersRow'}}
	</div>
</script>

<script id="viewTimersRow" type="text/x-handlebars-template">
	<div class="timersRow alert alert-info {{#if editing}}editing{{/if}}">
	{{#if editing}}
		<form name="timersForm" class="form-inline" action="/timers/{{id}}" method="post">
			<div class="timersForm row-fluid">
				<div class="span4">
					<label>
						<span class="hidden-phone">Start</span>
						<input type="time" name="time_start" id="time-start-{{id}}" value="{{start}}"/>
					</label>
				</div>
				<div class="span3">
					<label>
						<span class="hidden-phone">Stop</span>
						<input type="time" name="time_stop" id="time-stop-{{id}}" value="{{stop}}" />
					</label>
				</div>
				<div class="span2">
					<div role="switch" class="switch" data-on="info" data-off="inverse">
						<input type="checkbox" name="enabled" id="time-enabled-{{id}}" value="1" {{#enabled}}checked="checked" {{/enabled}}/>
					</div>
				</div>
				<div class="span3">
					<a role="delete" href="/timers/{{id}}" class="btn btn-danger"><i class="icon-trash"></i><span class="hidden-phone"> Delete</span></a>
					<button type="submit" class="btn btn-success"><i class="icon-save"></i> Save</button>
				</div>
			</div>
		</form>
	{{else}}
		<div class="timersDisplay row-fluid">
			<div class="span4">{{time start format="h:mm tt"}}</div>
			<div class="span4">{{time stop format="h:mm tt"}}</div>
			<div class="span2"><i class="icon-{{#if enabled}}{{#if running}}tint{{else}}time{{/if}}{{else}}off{{/if}}"></i></div>
			<div class="span2"><a role="edit" class="btn btn-info pull-right"><i class="icon-edit"></i><span class="hidden-phone"> Edit</span></a></div>
		</div>
	{{/if}}
	</div>
</script>